<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Trip Planner</title>
    </head>

    <body>
        <div class="navbar" role="navigation">
            <h1>Trip Planner</h1>
            <ul id="nav-items">
                <li>Home</li>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="container">
            <div id="map" class="col-lg-9">
            </div>

        </div>

    </body>

</html>
